{% if admin == None %}
  {% extends "template.html" %}
{% elif admin >=  0 %}
  {% extends "templateadmin.html" %}
{% endif %}

{% block head %}
{% endblock %}

{% block content %}
<script> 
function get_date(){
    let date = new Date().toLocaleDateString('en-GB');
    document.getElementById("date").value = date;
}
let get_time = () => {
    var times = new Date;
    
    hours = times.getHours();
    minutes = times.getMinutes();

    time = (hours * 60) + minutes; 

    let rounded = Math.round(time / 15) * 15;
    let h = ''+Math.floor(rounded / 60)
    let m = ''+ rounded % 60

    document.getElementById("time").value = h.padStart(2, '0')+':'+m.padStart(2, '0')
}
</script>
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show text-center font" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<br>
<div class="custom-submit center" style="font-size: 16px;">
    <form action="/start" method="post" onsubmit="get_date();get_time()">
        <table class="table-hover table">
            <thead>
                <tr class="navbar-custom">
                    <th colspan="2" class="font text-white font-weight-bold" style="text-align:center;">Start Form</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                <tr>
                    <td>
                        <input type="radio" name="location" value={{(location[1])}}>
                    </td>
                    <td class="font" style="color:#4C4E52; text-align:center;">{{location[1]}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <input type="hidden" id="date" name="date" value=none>
                        <input type="hidden" id="time" name="time" value=none>
                        <button type="submit" class="btn btn-primary float-right font">Start</button>
                    </td>
                </tr>      
            </tfoot>
        </table>              
    </form>
</div>
{% endblock %}